.snowflake {
  position: absolute;
  top: 0px;
  opacity: 0.8;
  animation-name: fall;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  filter: brightness(0) invert(1);
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.2;
  }
}