.ad-div {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--mainpage-gen-bg-color);
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.ad-img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
    object-fit: cover;
    object-position: center;
}

.ad-img:hover {
    transform: scale(1.1);
}

.ad-span {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;
    z-index: 12;
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px 2px 2px 2px;
}